<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}UNISPART.RU{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% include "include/head.html" %}
</head>
<body>
<div id="wrap">
    {# ----------------------------------------------------- #}
    {#                         ШАПКА                         #}
    {# ----------------------------------------------------- #}
    {#% include "include/top.html" %#}

    <div class="container">
        <div class="row">
            {# ----------------------------------------------------- #}
            {#                 КОНТЕНТ ОБЫЧНЫХ СТРАНИЦ               #}
            {# ----------------------------------------------------- #}
            <div class="col-xs-12">
                {% block body %}
                {% block content %}{% endblock %}
                {% endblock %}
            </div>
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /wrap -->
{# ----------------------------------------------------- #}
{#                         НИЗ                           #}
{# ----------------------------------------------------- #}
{#% include "include/footer.html" %#}
</body>
</html>