<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>UNISPART - ИНТЕРНЕТ-МАГАЗИН АВТОЗАПЧАСТЕЙ</title>
<meta name="keywords" content="запчасти киа, запчасти hyundai, запчасти kia, запчасти хундай, besf1ts, запчасти besf1ts, запчасти MOBIS,Аккумуляторы,Besf1ts,besfits,Besf1ts, запчасти дэу, запчасти ssang yong, интернет-магазин автозапчастей, для корейских автомобилей, запчасти для акцент, запчасти соната, запчасти солярис, запчасти элантра, запчасти портер, запчасти для рио, запчасти для сид, запчасти для соренто, запчасти для спортэйдж" />
<meta name="description" content="" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/m_unispart_ru/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/m_unispart_ru/css/bootstrap.min.css" />
		
		<script src="../static/m_unispart_ru/js/modernizr.custom.js"></script>
        <!-- 2. Подключаем библиотеку jQuery, необходимую для работы скриптов Bootstrap 3 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- 3. Подключаем скомпилированный и минимизированный файл JavaScript платформы Bootstrap 3 -->
    <script src="../static/m_unispart_ru/js/bootstrap.min.js"></script>
    <!-- Дополнительный сценарий на языке JavaScript, предназначенный для инициализации компонента Bootstrap "Popovers" -->
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
    <div id="HeadImg" "><img src="../static/m_unispart_ru/images/logo-unispart.svg" width="100%" height="100%" alt="" /></div>
<script src="../static/m_unispart_ru/js/modernizr.custom.js"></script>
	</head>
	<body>
    
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
									<input placeholder="Поиск" type="search" class="gn-search">
									<a class="gn-icon gn-icon-search"><span>Search</span></a>
								</li>
								<li>
																		<ul class="gn-submenu">
										
										
									</ul>
								</li>
								<li><a class="gn-icon gn-icon-cog">Оформление заказа</a></li>
								<li><a class="gn-icon gn-icon-help">Контакты</a></li>
								<li>
									
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-article">Документация</a></li>
										
									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
                
			</ul>
	</div><!-- /container -->
	<div class="well well-lg", id="contactsText">

        <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
<div id="ymaps-map-container" style="width: 100%; height: 450px; ">&nbsp;</div>
<div style="width: 100%; text-align: right;"><a href="http://api.yandex.ru/maps/tools/constructor/?lang=ru-RU" target="_blank" style="color: #1A3DC1; font: 13px Arial,Helvetica,sans-serif;"></a></div>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU"></script> <script type="text/javascript">ymaps.ready(function() {var map = new ymaps.Map("ymaps-map-container", {center: [37.4524357966279, 55.69923022021048], zoom: 12, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([37.415002534980665, 55.68136322630666], {balloonContent: ""}, {preset: "twirl#redDotIcon"}));});</script> <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
<p>&nbsp;</p>
<p align="center"><img src="../static/m_unispart_ru/images/shema-proezda.png" alt="" style="width: 90%; height: 90%;" /></p>
	</div>

	<p><span style="color: rgb(0, 0, 128); "><span style="font-family: Tahoma; "><strong><font size="3">ИНТЕРЕНТ-МАГАЗИН</font></strong></span></span><span style="color: rgb(0, 204, 255); "><font size="3"><br />
</font></span> <span style="font-size: medium"><br /></span>
<p><span style="font-size: medium">В нашем интернет-магазине запчастей Вы можете заказать и купить оригинальные запчасти, а так же их неоригинальные аналоги для корейских автомобилей:</span></p>
<p><span style="font-size: medium">Hyundai: Гетц(Getz), Акцент (Accent), Верна (Verna), Соната (Sonata), Элантра (Elantra), Туксон(Tuscon), Санта фе (Santa Fe), Старекс (Starex), Матрикс (Matrix), i20, i30, ix35, ix55, Портер (Porter),Каунти (County), HD и другие.</span></p>
<p><span style="font-size: medium">KIA: Пиканто (Picanto), РИО (RIO), Сид (Ceed), Серато (Cerato), Маджентис (Magentis), Венга(Venga), Каренс (Carens), Соул (Sould), Спортейдж (Sportage), Карнивал (Carnival), Соренто(Sorento), Мохаве (Mohave, Borego), Преджио (Pregio), Беста (Besta), Авелла (Avella), Кларус(Clarus), Бонго (Bongo, K-2500, K-2700), и другие.</span></p>
<p><span style="font-size: medium">Daewoo: Матиз (Matiz), Нексия (Nexia), Нубира (Nubira), Эсперо (Espero), Ланос (Lanos), Леганза(Leganza) и другие.</span></p>
<p><span style="font-size: medium">GM DAT: Авео (Aveo), Лачетти (Lacetti), Круз (Cruze), Эпика (Epica), Каптива (Captiva) и другие.</span></p>
<p><span style="font-size: medium">Все оригинальные запчасти киа, запчасти хундай, запчасти дэу, запчасти gm имеют сертификат соответствия и поставляются с центральных складов официальных поставщиков – компаний MOBISParts CIS и GM.</span></p>
<p><span style="font-size: medium">Помимо поставки оригинальных запасных частей мы являемся официальным дистрибьютором компании MOBIS Parts CIS (Hyundai MOBIS) и обеспечивает реализацию запасных частей марки BESF1TS для автомобилей Hyundai и KIA.</span></p>
<p><span style="font-size: medium">Запчасти Besf1ts обладают качеством оригинального продукта, так как производятся под строгим контролем компании MOBIS, но значительно отличается по цене. Вы можете купить амортизаторы Besfits, фильтр масляный Besfits, фильтр воздушный Besfits, фильтр салонный Besfits, фильтр топливный Besfits, аккумуляторы Besfits, тормозные колодки Besfits, тормозные диски Besfits, ремень ГРМ Besfits, элементы выхлопной системы Besfits, свечи зажигания и накаливания Besfits, радиаторы Besf1ts, ролики BESF1TS, комплекты ТО Besfits.</span></p>

        <p ><span style="color: rgb(0, 0, 128); "><span style="font-family: Tahoma; "><strong><font size="3">Магазин &quot;BESF1TS&quot;</font></strong></span></span><span style="color: rgb(0, 204, 255); "><font size="3"><br />
</font></span> <span style="font-size: medium"><br />
50 км МКАД (развязка Очаково-Заречье)</span></p>
<p><span style="font-size: medium">143085, М.О., п. Заречье, ул. Торговая, стр. 1, Торговый Комплекс &quot;Ангар Авто&quot;, пав. &quot;Вesf1ts&quot;.</span></p>
<p><span style="font-size: medium">Тел.: +7 (926) 124 35 57<br />
</span><br />
<span style="font-size: medium">E-mail: </span><a href="mailto:information@unispart.ru"><span style="font-size: medium">olvit@list.ru</span></a></p>
<p>&nbsp;</p>


