<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>UNISPART - ИНТЕРНЕТ-МАГАЗИН АВТОЗАПЧАСТЕЙ</title>
<meta name="keywords" content="запчасти киа, запчасти hyundai, запчасти kia, запчасти хундай, besf1ts, запчасти besf1ts, запчасти MOBIS,Аккумуляторы,Besf1ts,besfits,Besf1ts, запчасти дэу, запчасти ssang yong, интернет-магазин автозапчастей, для корейских автомобилей, запчасти для акцент, запчасти соната, запчасти солярис, запчасти элантра, запчасти портер, запчасти для рио, запчасти для сид, запчасти для соренто, запчасти для спортэйдж" />
<meta name="description" content="" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/m_unispart_ru/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/m_unispart_ru/css/bootstrap.min.css" />

		<script src="../static/m_unispart_ru/js/modernizr.custom.js"></script>
        <!-- 2. Подключаем библиотеку jQuery, необходимую для работы скриптов Bootstrap 3 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- 3. Подключаем скомпилированный и минимизированный файл JavaScript платформы Bootstrap 3 -->
    <script src="../static/m_unispart_ru/js/bootstrap.min.js"></script>
    <!-- Дополнительный сценарий на языке JavaScript, предназначенный для инициализации компонента Bootstrap "Popovers" -->
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
    <div id="HeadImg" "><a href="../"><img src="../static/m_unispart_ru/images/logo-unispart.svg" width="100%" height="100%" alt=""  /></a></div>
<script src="../static/m_unispart_ru/js/modernizr.custom.js"></script>
	</head>
	<body>

		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
									<input placeholder="Поиск" type="search" class="gn-search">
									<a class="gn-icon gn-icon-search"><span>Search</span></a>
								</li>
								<li>
																		<ul class="gn-submenu">


									</ul>
								</li>
								<li><a class="gn-icon gn-icon-cog">Оформление заказа</a></li>
								<li><a class="gn-icon gn-icon-help">О компании</a></li>
								<li>

									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-article">Документация</a></li>

									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>

			</ul>
        </div>
    <td>
				<div id="search_common">

					<br>
				</div>
    </td>
		<tr>
		        <td>
		         	<div>
				        <h1 style="padding: 5%">					        Оплата
                        </h1>
				    </div>
				<div id="content">


<div  style="padding: 5%">
				        				                <p><span style="font-size: medium; "><span style="color: rgb(64, 64, 64); font-family: tahoma; ">Уважаемый Покупатель, в интернет-магазине автозапчастей UNISPART возможны следующие формы оплаты:</span></span></p>
<ol  style="color: rgb(64, 64, 64) ; font-family: tahoma; font-size: 13px;  ">
    <li><span style="font-size: medium; "><b>Наличный расчет (оплата наличными при получении заказа).</b>&nbsp;<br>
    Оплата за запасные части и аксессуары для иномарок принимается только в рублях, оформляется кассовый и товарный чек.&nbsp;<br>
    &nbsp;</span></li>
    <li><span style="font-size: medium; "><b>Безналичный расчет.</b><br>
    Банковский перевод для юридических лиц.&nbsp;<br>
    Банковский перевод для физических лиц.&nbsp;<br>
    &nbsp;</span></li>
    <li><span style="font-size: medium; "><b>Оплата через терминалы QIWI</b><br>
    Оплата осуществляется через терминалы QIWI.<br>
    Совершайте покупки современным и удобным способом!</span></li>
</ol>
<p>&nbsp;</p>
<p><strong><span style="font-size: medium;">Как оплатить счет через терминал QIWI:</span></strong></p>
<p><span style="font-size: medium;">1. Выберите платежный терминал QIWI. Терминалы QIWI выглядит следующим образом:<br>
</span></p>
<p align="center"><img src="../static/m_unispart_ru/images/terminal(1).jpg" alt="" height="471" width="250"></p>
<p><img src="../static/m_unispart_ru/images/terminal.jpg" alt="" height="0" width="0"></p>
<p><span style="font-size: medium;">2. На главном экране терминала QIWI нажмите среднюю кнопку <strong>«VISA QIWI WALLET»</strong>: <br>
</span></p>
<p align="center"><img src="../static/m_unispart_ru/images/Terminal_screen1.jpg" alt="" height="486" width="610"></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">3. На появившемся экране введите номер своего мобильного телефона, который вы указали при выставлении счета, и нажмите кнопку <strong>«ВПЕРЕД»</strong>.<br>
</span></p>
<p align="center"><img src="../static/m_unispart_ru/images/terminal_screen2(1).jpg" alt=""></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">4. На следующем экране введите ПИН код (высылается при регистрации), после этого откроется главная страница Visa QIWI Wallet в терминале.</span></p>
<p><strong><span style="font-size: medium;">Внимание!</span></strong><span style="font-size: medium;"> Экран с ПИН кодом появляется только для пользователей, зарегистрированных в Visa QIWI Wallet. Если вы не зарегистрированы в Visa QIWI Wallet, то сразу попадете на главную страницу.<br>
</span></p>
<p align="center"><img src="../static/m_unispart_ru/images/terminal_screen3.jpg" alt=""></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">5. На главной странице будут мерцать две кнопки – «ПОПОЛНИТЬ VISA QIWI WALLET» и «СЧЕТА К ОПЛАТЕ». Для оплаты счета перейдите в раздел счетов, нажав кнопку <strong>«СЧЕТА К ОПЛАТЕ»</strong>.<br>
</span></p>
<p align="center"><img src="../static/m_unispart_ru/images/terminal_screen4.jpg" alt=""></p>
<p>&nbsp;</p>
<p><span style="font-size: medium;">6. В разделе «СЧЕТА К ОПЛАТЕ» выберите счет, который вы хотите оплатить (выбранный счет выделяется зеленым цветом) и нажмите кнопку <strong>«ОПЛАТИТЬ»</strong>. После этого останется только внести деньги в терминал и подтвердить оплату счета. Вы можете оплатить счет в терминалах QIWI наличными, даже если не зарегистрированы в Visa QIWI Wallet. Зарегистрированным пользователям дополнительно доступна оплата из Visa QIWI Wallet, если на нем достаточно средств.<br>
<strong>Внимание!</strong> Терминал не выдает сдачу. Если сумма оплачиваемого счета «неровная», то сдачу можно положить на баланс мобильного телефона или пополнить Visa QIWI Wallet.</span></p>
<p align="center"><span style="font-size: medium;"><img src="../static/m_unispart_ru/images/terminal_screen5.jpg" alt=""><br>
<br>
</span></p>
<p>&nbsp;</p>
    </div>
                </div>
			    </td>
		</tr style="padding: 5%">

        </tbody>
    <div  style="padding: 5%">
            <td>
		         	<div id="content_title">
				        <h1>					        Доставка
				        </h1>
				    </div>
				<div id="content">
				        				                <p><span style="font-size: medium; "><strong style="font-size: medium; ">Информация о доставке товара&nbsp;</strong>&nbsp;<span style="font-family: Arial; ">&nbsp;&nbsp;</span></span></p>
<p><span style="font-size: medium; "><b style="color: rgb(64, 64, 64); font-family: tahoma; font-size: 13px; text-align: justify; "><font color="red">Доставка любого заказа от 5000 руб. производится бесплатно по Москве! При заказе на сумму меньше 5000 руб. доставка платная - 500 руб.</font></b><span style="font-family: Arial; ">&nbsp;</span><span style="font-family: Arial; ">  </span><span style="font-family: Tahoma; "> </span>&nbsp;</span></p>
<p><span style="font-size: medium; "> <span style="font-family: Arial; "> </span>      <span style="font-family: Arial; ">  </span> <strong><span style="color: rgb(64, 64, 64); text-align: justify; ">Внимание!</span></strong><span style="font-family: Arial; ">&nbsp;</span><span style="font-family: Arial; ">  </span><span style="font-family: Tahoma; "> </span>&nbsp;&nbsp;</span></p>
<p><span style="font-size: medium; "><b><font color="red">Отправка заказанного товара в регионы осуществляется только по предоплате, минимальная сумма заказа составляет 5000 руб.</font></b>&nbsp; </span><span style="font-size: medium; "> &nbsp;</span></p>
<p><span style="font-size: medium; "><span style="color: rgb(64, 64, 64); font-family: tahoma; text-align: justify; ">Доставка заказов осуществляется транспортными компаниями ПЭК или Байкал Сервис по выбору Клиента во все обслуживаемые города Российской Федерации. &nbsp;</span></span></p>
<p><span style="font-size: medium; "><span style="color: rgb(64, 64, 64); font-family: tahoma; text-align: justify; ">За дополнительной информацией обращайтесь по телефонам 8 (926) 124 3557 или по e-mail: gerra@unispart.ru</span></span></p>
<p><span style="font-size: medium; ">&nbsp;</span></p>
<p><span style="font-size: medium; ">&nbsp;</span></p>
<p><span style="font-size: medium; "><span style="font-family: Arial; ">&nbsp;</span></span></p>

                </div>
			</td>
    </div>
    <td>
		         	<div id="content_title"  style="padding: 5%">
				        <h1>					        Реквизиты
				        </h1>
				    </div>
				<div id="content">
				        				                <p style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span style="text-align: center;">Индивидуальный Предприниматель</span>  </span></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">&nbsp;Герасимов Олег Витальевич</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">121108, г Москва, ул. Герасима Курина, 4-1-25</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">ИНН:773111480538</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">ОГРНИП:310774612500734</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">Расчетный счет:</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">№40802810000120021608</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">В КБ «ЮНИАСТРУМ БАНК» (ООО)</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">К/с : 30101810600000000184</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;">БИК: 044585184</span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-ansi-language:
EN-US" lang="EN-US"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span lang="EN-US">&nbsp;</span></span></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span style="color: red;">Фактический адрес:</span></span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:red"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span style="color: red;">143085, Московская область, Одинцовский район, п. Заречье, ул. Торговая, стр.1 ТК «Ангар Авто», пав. В3-12</span></span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:red"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span style="color: red;">(50 км. МКАД, развязка Очаково-Заречье)</span></span></span><span style="font-size:20.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:red"><o:p></o:p></span></p>
<p class="ConsNonformat" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span style="color: red;">&nbsp;</span></span></span></p>
<p class="MsoTitle" style="text-align: center;"><span style="font-family: Verdana;"><span style="font-size: medium;"><span lang="EN-US">&nbsp; &nbsp; e-mail: </span></span></span><span style="font-size: 20pt; font-family: Arial, sans-serif;"><a href="mailto:%D0%BElvit@list.ru"><span style="font-family: Verdana;"><span style="font-size: medium;">о<span lang="EN-US">lvit@list.ru</span></span></span></a></span><span style="font-size: 20pt; font-family: Arial, sans-serif;" lang="EN-US"><o:p></o:p></span></p>
				</div>
    </td>
    </body>

